/* You can add global styles to this file, and also import other style files */
body {
    font-family: Arial, sans-serif;
}

.error {
    color: red;
    padding-bottom: 10px;
    padding-top: 20px;
}